
<h1 align="center">Player One: <%= @player1_name %> VS. Player Two: <%= @player2_name %></h1>
<h2 align="center">Hitpoints: <%= @player1_hitpoints %> ------ Hitpoints:  <%= @player2_hitpoints %> </h2>
<h3 align="center"><%= @player1_name %> attacked <%= @player2_name %>!</h3>
