
<h1 align="center">Player One: <%= @game.player1.name %> VS. Player Two: <%= @game.player2.name %></h1>
<h2 align="center">Hitpoints: <%= @game.player1.hitpoints%> ------ Hitpoints: <%= @game.player2.hitpoints%></h2>
<form action="/attack" method="post">
<div class="button">
  <button class="button">Attack <%= @game.alt_player.name%>!</button>
</div>
</form>
